.animated-container {
  // position: absolute;
  // top: 20%;
  // left: 10%;
  padding: 0;
  min-width: 311px;
  max-width: 311px;
  color: #c5c5c5;
  text-align: left;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;

  span {
    display: inline-block;
    color: $main-text;

    &:hover {
      animation: rotate-in paused, rubberBand 1s forwards;
      color: $main-blue;
    }
  }
}
