@import '../../variables';

.skillCard {
    padding: 0!important;
    text-align: center;
    min-height: 200px;
    min-width: 150px;
    max-width: 150px!important;
    border-radius: 10px;
}

.top {
    background-color: $main-blue;
    color: $main-background;
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.bottom {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    background-color: $secondary-gray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.skillCardList {
    text-align: center;
    font-size: .8rem;
    margin-top: 2px;
    color: $main-blue;
}

.skillCard:hover {
    animation: raise 0.5s forwards;
}

.icon img{
    max-height: 32px;
}

@keyframes raise {
    from {
        transform: scale3d(1, 1, 1) rotateY(0deg)
    }
    50% {
        transform: scale3d(1.03, 1.03, 1.03) rotateY(30deg)
    }
    to {
        transform: scale3d(1.06, 1.06, 1.06) rotateY(0deg);
    }
}