@import '../../variables';

.social {
    color: $main-text;
    font-family: cursive;
    /* font-style: bold; */
    position: absolute;
    top: 60%;
    left: 10%;
    overflow: hidden;

    a {
        color: $main-text;
        padding: 0 10px;
        
        &:hover {
            color: $main-blue;
        }
        &:visited {
            color: $main-text;
            text-decoration: none;
        }
    } 
}