.wrapper {
  height: 150px;
  height: 150px;
  // margin: 50px auto;
}

.box-area {
  animation: animate 20s linear infinite;
  transform-style: preserve-3d;
  transform-origin: 75px 75px 0;
}

/* .box-area:hover {
    animation-play-state: paused;
  }
   */
.box-area div {
  position: absolute;
  width: 150px;
  height: 150px;
  line-height: 150px;
  background-color: rgba(53, 53, 53, 0.2);
}

.box-area .front {
  background-image: url('../../assets/icons/react.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  transform: translateZ(75px);
}
.box-area .back {
  background: url('../../assets/icons/node.png') center
    no-repeat;
  background-color: rgba(51, 51, 51, 0.2);
  transform: rotateY(90deg) translateZ(75px);
}

.box-area .left {
  background-image: url('../../assets/icons/angular.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  transform: rotateY(90deg) rotateX(90deg) translateZ(75px);
}

.box-area .right {
  background-image: url('../../assets/icons/DB.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  transform: rotateY(180deg) rotatez(90deg) translateZ(75px);
}

.box-area .top {
  background-image: url('../../assets/icons/js.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  transform: rotateY(-90deg) rotatez(90deg) translateZ(75px);
}

.box-area .bottom {
  background-image: url('../../assets/icons/css3.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  transform: rotateX(-90deg) rotateZ(-90deg)
    translateZ(75px);
}

@keyframes animate {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

// @keyframes animate {
//   from,
//   to {
//     transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
//   }
//   20% {
//     transform: rotateY(-90deg);
//   }
//   40% {
//     transform: rotateY(-90deg) rotateZ(90deg);
//   }
//   60% {
//     transform: rotateY(-180deg) rotateZ(90deg);
//   }
//   80% {
//     transform: rotateY(-270deg) rotateZ(90deg);
//   }
//   to {
//     transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
//   }
// }
