#primary-nav {
  display: block;
  background-color: $main-background;
  z-index: 1;
  height: 9%;
  width: 100%;
  padding-top: map-get($spacers, 3);

  ul {
    display: flex;
    justify-content: space-around;
  }

  @include media-breakpoint-up(sm) {
    text-align: center;
    min-height: 100vh;
    max-width: 8%;
    overflow: hidden;

    ul {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: space-around;
    }
  }
}

#logo {
  color: $main-text;
  fill: $main-blue;

  &:hover {
    text-decoration: none;
    color: $main-blue;
    animation: rubberBand 1s forwards;
  }
}

nav a,
.social-container a {
  color: $main-text;

  &:hover {
    color: $main-background;

    svg {
      display: none;
    }

    b {
      color: $main-blue;
      display: inline-block;
    }
  }
}

.iconSwitch {
  height: 60px;

  &:hover {
    text-decoration: none;
    color: $main-blue;
  }

  &:visited {
    text-decoration: none;
  }
  &.active {
    svg.nav-item {
      display: none;
    }

    b {
      display: block;
      color: $main-blue;
      // font-size: 1.2rem;
    }
  }
}
