.App {
  text-align: center;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  background-color: #1d1d1d;
  color: #c5c5c5;
}

.active {
  color: #0cdbff;
}

.left-section {
  width: 7%;
  height: 700px;
  color: #fff;
  background-color: #181818;
  text-align: center;
}

.body-container {
  position: absolute;
  top: 30%;
  left: 10%;
  margin: auto;
  width: 600px;
  color: #c5c5c5;
  text-align: left;
}

.h1-animation {
  text-align: left;
}

.wordSpace {
  margin-right: 2%;
}

.iconSwitch {
  height: 75px;
  padding-top: 10px;
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.slide {
  position: relative;
  left: -500px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 1s forwards;
  animation-delay: 0.5s;
}

.fade-in {
  /* left: -400px; */
  -webkit-animation: fade-in 4s forwards;
  -webkit-animation-delay: 4s;
  animation: fade-in 4s forwards;
  animation-delay: 1.5s;
}

.delay1 {
  animation-delay: 1.0s;
}

.delay2 {
  animation-delay: 1.5s;
}

#header-bg-dark {
  background: #181818 !important;
}

span.letter {
  display: inline-block;
  color: #c5c5c5;

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
}

span.letter:hover {
  animation-name: rubberBand;
  color: #0cdbff;
}


p.fade-in { 
  opacity: 0;
}


nav a {
  display: block;
  color: #c5c5c5;
}

span a.iconSwitch:hover {
  /* animation-name: rubberBand; */
  color: #0cdbff;
}

span a.iconSwitch:visited {
  text-decoration: none;
}



@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}


@-webkit-keyframes slide {
  0% {
    opacity: 0%;
    transform: rotateZ(-90deg);
  }
  100% {
    opacity: 100%;
    transform: rotateZ(0);
    left: 0;
  }
}

@keyframes slide {
  0% {
    opacity: 0%;
    transform: rotateZ(-90deg);
  }
  100% {
    opacity: 100%;
    transform: rotateZ(0);
    left: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0%
  }
  100% {
    opacity: 80%
  }
}
